<div id="disqus_thread"></div>
<script>
    var disqus_config = function () {
        this.page.url = "{{ .Permalink }}";  // URL canónico de la página
        this.page.identifier = "{{ .RelPermalink }}";  // Identificador único de la página
    };
    (function() {  // NO EDITAR DEBAJO DE ESTA LÍNEA
        var d = document, s = d.createElement('script');
        s.src = 'https://https-viernesbioinformatica-github-io.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Por favor, habilita JavaScript para ver los <a href="https://disqus.com/?ref_noscript">comentarios impulsados por Disqus.</a></noscript><div id="disqus_thread"></div>
<script>
    var disqus_config = function () {
        this.page.url = "{{ .Permalink }}";  // URL canónico de la página
        this.page.identifier = "{{ .RelPermalink }}";  // Identificador único de la página
    };
    (function() {  // NO EDITAR DEBAJO DE ESTA LÍNEA
        var d = document, s = d.createElement('script');
        s.src = 'https://https-viernesbioinformatica-github-io.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Por favor, habilita JavaScript para ver los <a href="https://disqus.com/?ref_noscript">comentarios impulsados por Disqus.</a></noscript>