
{{ $disableImageOptimization := .Site.Params.disableImageOptimization | default false }}
<!-- ===== NUEVA PARTE 5 ===== -->
<div style="
margin: 30px auto;
padding: 20px;
max-width: 900px;
border: 2px solid #64dfdf;
border-radius: 15px;
text-align: center;
box-shadow: 0px 0px 40px -16px rgba(0,0,0,0.75);
">

<h1 style="color:#64dfdf; margin-bottom: 10px;">
¡Felices Pascuas!
</h1>

<h2 style="color:#64dfdf; margin-bottom: 10px;">
PARTE 5 — 20 DE FEBRERO
</h2>

<p style="margin-bottom: 15px;">
Nueva sesión científica. Nuevas ideas. Nuevos datos.  
</p>

<p style="margin-bottom: 15px; display: flex; align-items: center; justify-content: center; gap: 8px;">
  <img 
  src="https://preview.redd.it/a-little-pixel-art-of-senku-v0-5icbx6jm4emd1.jpeg?auto=webp&s=67010f8e408bd175b29e2f45ad188b744cfb76fe" 
  alt="Senku"
  style="width: 28px; height: 28px; border-radius: 50%;"
  >
  Esto sí que es emocionante
</p>

<a 
href="https://docs.google.com/forms/d/e/1FAIpQLSf6PS_AzYWOzWsFJQn72JPhHJatvL66OGal_mCcTdsEDVwG_Q/viewform"
target="_blank"
style="
display: inline-block;
padding: 12px 25px;
border-radius: 8px;
border: 2px solid #64dfdf;
text-decoration: none;
color: #64dfdf;
font-weight: bold;
"
onmouseover="this.style.backgroundColor='#64dfdf'; this.style.color='white';"
onmouseout="this.style.backgroundColor='transparent'; this.style.color='#64dfdf';"
>
INSCRIBIRSE
</a>

</div>
<!-- ======================== -->


<div style="display: flex; align-items: center; justify-content: space-between; flex-wrap: wrap">
<div style="flex: 1; text-align: center;">
  <!-- Deciracuib de esquina -->
<!-- <div style="text-align: center;"><a style= "@media screen and (max-width: 1200px) display: none; right: 3px; height: 167px; width: 100px; position: fixed; bottom: -15px;"><img src="https://i.pinimg.com/originals/d0/15/36/d0153696d75d7dcdd851588e9fe62817.gif" _fcksavedurl="" alt="" /></a></div> -->

<style type="text/css">
.luces {
background-image: url(https://lh6.googleusercontent.com/-0-h4Co-Y-nI/TuuwZct5hrI/AAAAAAAAB-g/RKjXYFZwlHY/s500/luces%25252012.gif);
background-repeat:repeat-x;
height:47px;
width:100%;
position:absolute;
top:0;
left:0;
}
</style>
<!--<div class='luces'></div>-->

<br></br>

<section>
  {{ partial "calendar.html" . }}
</section>
</div>
  <div style="flex: 1; text-align: center;">
<article class="{{ if not .Site.Params.homepage.showRecent }}
    h-full
  {{ end }} flex flex-col items-center justify-center text-center">
  <header class="relative px-1 py-1 flex flex-col items-center mb-3">
    {{ with .Site.Params.Author.image }}
      {{ $authorImage := "" }}
      {{ if or (strings.HasPrefix . "http:") (strings.HasPrefix . "https:") }}
        {{ $authorImage = resources.GetRemote . }}
      {{ else }}
        {{ $authorImage = resources.Get . }}
      {{ end }}
      {{ if $authorImage }}
        {{ if not $disableImageOptimization }}
          {{ $authorImage = $authorImage.Fill "288x288" }}
        {{ end }}
        <img class="mb-2 rounded-full h-36 w-36" width="144" height="144" alt="{{ $.Site.Params.Author.name | default " Author" }}"
          src="{{ $authorImage.RelPermalink }}" />
      {{ end }}
    {{ end }}
    <h1 class="text-4xl font-extrabold">
      {{ .Site.Params.Author.name | default .Site.Title }}
    </h1>
    {{ with .Site.Params.Author.headline }}
    <h2 class="text-xl text-neutral-500 dark:text-neutral-400">
      {{ . | markdownify }}
    </h2>
    {{ end }}
    <div class="mt-1 text-2xl">
      {{ partialCached "author-links.html" . }}
    </div>
  </header>
  <section class="prose dark:prose-invert">{{ .Content }}</section>
</article>
</div>
</div>


<div style=" align-items: center; margin: 50px;" >
  <h1 style="font-size: 40px; text-align: center; line-height:1;"><b>¡Platica con otros Bioinformaticos!</b></h1>
  <br></br>
  <iframe src="https://discord.com/widget?id=1155238100059045959&theme=dark" width="100%" height="500" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
  <div style="text-align:center; margin-top: 10px;">
  <a 
href="https://discord.com/invite/kheZzq6pKs"
target="_blank"
style="
text-align: center; 
display: inline-block; 
margin: 10px 0; 
padding: 12px 20px; 
border-radius: 5px; 
border: 2px solid #64dfdf; 
text-decoration: none;
color:  #64dfdf;
font-weight: bold;
"
onmouseover="this.style.backgroundColor='#64dfdf'; this.style.color='white';"
onmouseout="this.style.backgroundColor='transparent'; this.style.color='#64dfdf';"
>
🧬ÚNETE AL DISCORD🧬
</a>

</div>
</div>


  <!-- #3C54B7 Color Estandar-->

  <h1 style="font-size: 40px; text-align: center;"><b>Organizadores</b></h1>
  <div style="display: flex; flex-wrap: wrap; align-items: center; justify-content: center;margin-top: 10px;margin-bottom: 10px;">
  <!-- Primer autor -->
  <div style="display: flex; flex-direction: column; align-items: center; padding: 10px; margin: 20px; border: 2px solid #64dfdf; border-radius: 15px; -webkit-box-shadow: 0px 0px 40px -16px rgba(0,0,0,0.75); -moz-box-shadow: 0px 0px 40px -16px rgba(0,0,0,0.75); box-shadow: 0px 0px 40px -16px rgba(0,0,0,0.75); width: 250px; box-sizing: border-box;">
    <img src="Autores/EveliaCoss.jpeg" alt="organizadores" style="width: 200px; height: auto; border-radius: 50%;">
    <p style="text-align: center; margin: 10px 0;">Dra. Evelia Coss</p>
    <a href="authors/evelia/" target="_self" style="text-align: center; display: block; margin: 10px 0; padding: 10px; border-radius: 5px; border: 2px solid #64dfdf; text-decoration: none;" onmouseover="this.style.backgroundColor='#64dfdf'" onmouseout="this.style.backgroundColor='transparent';">Más información</a> 
  </div>
  
  <!-- Segundo autor -->
  <div style="display: flex; flex-direction: column; align-items: center; padding: 10px; margin: 20px; border: 2px solid #64dfdf; border-radius: 15px; -webkit-box-shadow: 0px 0px 40px -16px rgba(0,0,0,0.75); -moz-box-shadow: 0px 0px 40px -16px rgba(0,0,0,0.75); box-shadow: 0px 0px 40px -16px rgba(0,0,0,0.75); width: 250px; box-sizing: border-box;">
    <img src="Autores/Aguilar.jpeg" alt="organizadores" style="width: 200px; height: auto; border-radius: 50%;">
    <p style="text-align: center; margin: 10px 0;">Dr. Israel Aguilar Ordoñez</p>
    <a href="authors/israel/" target="_self" style="text-align: center; display: block; margin: 10px 0; padding: 10px; border-radius: 5px; border: 2px solid #64dfdf; text-decoration: none;" onmouseover="this.style.backgroundColor='#64dfdf';" onmouseout="this.style.backgroundColor='transparent';">Más información</a> 
  </div>
  <!-- Tercer autor -->
  <div style="display: flex; flex-direction: column; align-items: center; padding: 10px; margin: 20px; border: 2px solid #64dfdf; border-radius: 15px; -webkit-box-shadow: 0px 0px 40px -16px rgba(0,0,0,0.75); -moz-box-shadow: 0px 0px 40px -16px rgba(0,0,0,0.75); box-shadow: 0px 0px 40px -16px rgba(0,0,0,0.75); width: 250px; box-sizing: border-box;">
    <img src="Autores/JS.png" alt="organizadores" style="width: 200px; height: auto; border-radius: 50%;">
    <p style="text-align: center; margin: 10px 0;">Jorge A. Suazo Victoria </p> <a href="authors/jorge/" target="_self" style="text-align: center; display: block; margin: 10px 0; padding: 10px; border-radius: 5px; border: 2px solid #64dfdf; text-decoration: none;" onmouseover="this.style.backgroundColor='#64dfdf';" onmouseout="this.style.backgroundColor='transparent';">Más información</a> 
  </div>
</div>


  
  </div>
</div>

  <h1 style="font-size: 40px; text-align: center; line-height: 1"><b>Entradas Recientes</b></h1>
<div style = "margin-top: 30px">
<section>
  {{ partial "recent-articles/main.html" . }}
</section>
</div>


<script type="text/javascript">

/******************************************
* Snow Effect Script- By Altan d.o.o. (http://www.altan.hr/snow/index.html)
* Visit Dynamic Drive DHTML code library (http://www.dynamicdrive.com/) for full source code
* Last updated Nov 9th, 05' by DD. This notice must stay intact for use

  function openwindow(){
window.open("autumn_effect.htm","","width=7,height=10")
}

  //Configure below to change URL path to the snow image
  var snowsrc="https://cdn.pixabay.com/animation/2023/09/15/18/02/18-02-52-470_512.gif"
  // Configure below to change number of snow to render
  var no = 10;
  // Configure whether snow should disappear after x seconds (0=never):
  var hidesnowtime = 1;
  // Configure how much snow should drop down before fading ("windowheight" or "pageheight")
  var snowdistance = "windowheight";

///////////Stop Config//////////////////////////////////

  var ie4up = (document.all) ? 1 : 0;
  var ns6up = (document.getElementById&&!document.all) ? 1 : 0;

  function iecompattest(){
  return (document.compatMode && document.compatMode!="BackCompat")? document.documentElement : document.body
  }

  var dx, xp, yp;    // coordinate and position variables
  var am, stx, sty;  // amplitude and step variables
  var i, doc_width = 80, doc_height = 60; 
  
  if (ns6up) {
    doc_width = self.innerWidth;
    doc_height = self.innerHeight;
  } else if (ie4up) {
    doc_width = iecompattest().clientWidth;
    doc_height = iecompattest().clientHeight;
  }

  dx = new Array();
  xp = new Array();
  yp = new Array();
  am = new Array();
  stx = new Array();
  sty = new Array();
  snowsrc=(snowsrc.indexOf("dynamicdrive.com")!=-1)? "http://www.dynamicdrive.com/dynamicindex3/snow3.gif" : snowsrc
  for (i = 0; i < no; ++ i) {  
    dx[i] = 0;                        // set coordinate variables
    xp[i] = Math.random()*(doc_width-50);  // set position variables
    yp[i] = Math.random()*doc_height;
    am[i] = Math.random()*20;         // set amplitude variables
    stx[i] = 0.02 + Math.random()/10; // set step variables
    sty[i] = 0.7 + Math.random();     // set step variables
    if (ie4up||ns6up) {
      if (i == 0) {
        document.write("<div id=\"dot"+ i +"\" style=\"POSITION: absolute; Z-INDEX: "+ i +"; VISIBILITY: visible; TOP: 15px; LEFT: 15px;\"><a href=\"http://dynamicdrive.com\"><img src='"+snowsrc+"' border=\"0\"><\/a><\/div>");
      } else {
        document.write("<div id=\"dot"+ i +"\" style=\"POSITION: absolute; Z-INDEX: "+ i +"; VISIBILITY: visible; TOP: 15px; LEFT: 15px;\"><img src='"+snowsrc+"' border=\"0\"><\/div>");
      }
    }
  }

  function snowIE_NS6() {  // IE and NS6 main animation function
    doc_width = ns6up?window.innerWidth-10 : iecompattest().clientWidth-10;
    doc_height=(window.innerHeight && snowdistance=="windowheight")? window.innerHeight : (ie4up && snowdistance=="windowheight")?  iecompattest().clientHeight : (ie4up && !window.opera && snowdistance=="pageheight")? iecompattest().scrollHeight : iecompattest().offsetHeight;
  if (snowdistance=="windowheight"){
    doc_height = window.innerHeight || iecompattest().clientHeight
  }
  else{
    doc_height = iecompattest().scrollHeight
  }
    for (i = 0; i < no; ++ i) {  // iterate for every dot
      yp[i] += sty[i];
      if (yp[i] > doc_height-50) {
        xp[i] = Math.random()*(doc_width-am[i]-30);
        yp[i] = 0;
        stx[i] = 0.02 + Math.random()/10;
        sty[i] = 0.7 + Math.random();
      }
      dx[i] += stx[i];
      document.getElementById("dot"+i).style.top=yp[i]+"px";
      document.getElementById("dot"+i).style.left=xp[i] + am[i]*Math.sin(dx[i])+"px";  
    }
    snowtimer=setTimeout("snowIE_NS6()", 10);
  }

function hidesnow(){
  if (window.snowtimer) clearTimeout(snowtimer);

  var shrinkInterval = setInterval(function(){
    var stillVisible = false;

    for (i=0; i<no; i++){
      var dot = document.getElementById("dot"+i);
      var currentScale = dot.dataset.scale || 1;

      currentScale -= 0.01;   // velocidad de encogimiento

      if (currentScale > 0){
        dot.style.transform = "scale(" + currentScale + ")";
        dot.dataset.scale = currentScale;
        stillVisible = true;
      } else {
        dot.style.visibility = "hidden";
      }
    }

    if (!stillVisible) clearInterval(shrinkInterval);

  }, 30); // cada 30 ms se hacen más chiquitos
}

    

if (ie4up||ns6up){
    snowIE_NS6();
    if (hidesnowtime>0)
    setTimeout("hidesnow()", hidesnowtime*1000)
    }

******************************************/
</script> 
