{{ define "main" }}

<div class="taxonomy-carousel">

  <h1 class="taxonomy-title">
    {{ .Title }}
  </h1>

  {{ range (.Paginate .Pages).Pages }}

    <article class="taxonomy-slide">

      <h2>
        <a href="{{ .RelPermalink }}">
          {{ .Title }}
        </a>
      </h2>

      {{ with .Summary }}
        <p>{{ . }}</p>
      {{ end }}

      <div class="taxonomy-meta">
        {{ .Date.Format "02 Jan 2006" }}
      </div>

    </article>

  {{ end }}

</div>

{{ partial "pagination.html" . }}

{{ end }}